* {
    box-sizing: border-box;
}

header {
    background: linear-gradient(#d5d5d5, #fff, #fff, #fff);
    text-align: center;
    padding: 37px 0px 24px 0;
}

img {
    width: 25%;
}

#menu li {
    font: .7em Tahoma sans-serif;
    color: #b7b7b7;
}

#menu li a {
    display: block;
    text-transform: uppercase;
    font: bold .9rem Georgia, serif;
    color: #666;
}


main {
    background: #fff url('../img/mainbg.jpg') repeat-x;
    padding-top: 22px;
}

#slider {
    height: 343px;
    border: 1px solid #c6c6c6;
    border-radius: 8px;
    background: url(../img/slider1.jpg) center;
}

h1 {
    text-align: center;
    font: bold 1.5em Georgia serif;
    color: #000000;
    margin: 15px 0px 15px 0px;
}

hr {
    border: none;
    border-top: 1px solid #e5e5e5;
}

h2 {
    font: 1.3em Georgia serif;
    color: #11719e;
}

h6 {
    font: .75em Helvetica sans-serif;
    color: #8c8c8c;
    padding: 3px 0px 0px 0px;
}

p {
    width: 291px;
    height: 89px;
    letter-spacing: 1px;
    color: #3e3e3e;
    font: 13px/18px "Helvetica";
}

.row {
    padding: 20px 0px;
}

.col {
    padding: 10px;
}

.col img {
    width: 100%;
    border-radius: 4px;
    background-color: #f3f3f3;
    border: 1px solid #e1e1e1;
    padding: 6px;
    margin: 15px 0px;
}

#btn {
    display: inline-block;
    font: 12px Helvetica sans-serif;
    color: #016999;
    margin-top: 20px;
    border: 1px solid #d8d8d8;
    width: 100%;
    text-align: left;
    padding: 10px 8px 10px 8px;
    background: linear-gradient(to right, #e8e8e8, #f6f6f6, #e8e8e8, #eee);
}

#btn span {
    float: right;
}

.icons {
    margin: -20px 7px 45px 0px;
}

.icons a {
    display: inline-block;
    width: 50px;

    height: 50px;
    box-shadow: 1px 2px 3px rgb(166, 160, 160);
    margin: 2px;
    border-radius: 7px;
    background: url(../img/icons.png);
}

#rss {
    background-position: 0px 0px;
}

#fb {
    background-position: -50px 0px;
}

#link {
    background-position: -100px 0px;
}

#you {
    background-position: -150px 0px;
}

#twit {
    background-position: -200px 0px;
}

#rss:hover {
    background-position: 0px -50px;
}

#fb:hover {
    background-position: -50px -50px;
}

#link:hover {
    background-position: -100px -50px;
}

#you:hover {
    background-position: -150px -50px;
}

#twit:hover {
    background-position: -200px -50px;
}

h3 {
    font: 1.1em/14px Georgia serif;
    color: #444444;
    margin-top: 50px;
}

#dotted {
    border: none;
    border-top: 1px dashed #e5e5e5;
}

input {
    margin: 15px 0px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    width: 100%;
    height: 33px;
    color: #d4d4d4;
    padding: 13px;
    font: 10px/14px Verdana;
}

textarea {
    width: 100%;
    height: 134px;
    margin: 15px 0px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    font: 10px/14px Verdana;
    color: #d4d4d4;
    padding: 13px;
}

.news img {
    width: 25%;
    height: 25%;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f3f3f3;
    border: 1px solid #e1e1e1;
    padding: 6px;
}

.text {
    display: inline-block;
    width: 100%;
    margin: 15px 0px 0px 10px;
}

#line {
    border: none;
    border-top: 1px dashed #e5e5e5;
    margin: -7px 0px 1px 0px;
    width: 100%;
}

#newsletter {
    margin-top: -40px;
    height: 50px;
}

#btn2 {
    display: inline-block;
    color: #ffffff;
    font: 13px Georgia;
    border: 1px solid #004a80;
    border-radius: 3px;
    box-shadow: 0.5px 1px 2px rgba(1, 80, 113, 0.5);
    width: 100%;
    text-align: left;
    padding: 10px 8px 10px 8px;
    background: linear-gradient(to right, #4578af, #4791dc, #3b92f0, #3b7cc2, #4578af);
    margin-left: 2px;
}

.send {
    margin-top: 22px;
}

.visit {
    margin-top: 15px;
}

#btn2 span {
    float: right;
}

.leftside p {
    font: .7em/1rem Helvetica;
    color: #999999;
    margin: 15px 0px 10px 0px;
    padding-left: 10px;

}

.rightside p {
    font: 11px/10px Helvetica;
    color: #999999;
    margin-top: 30px;
    padding-left: 10px;
}

.leftside a {
    font: 11px/10px Helvetica;
    color: #999999;
    margin-right: 3px;

}

#above li {
    text-align: center;
    border-right: 1px solid #999;
    line-height: 4px;
    padding-right: 2px;
    padding-left: 2px;
    margin-top: 10px;
}

#above li:last-child {
    border-right: none;
}

#bottom li {
    text-align: center;
    border-right: 1px solid #999;
    line-height: 4px;
    padding-right: 2px;
    padding-left: 2px;
    margin-top: 10px;
}

#bottom li:last-child {
    border-right: none;
}

footer {
    background: #333;
    border-top: 10px solid #4c4c4c;
}

@media only screen and (min-width:768px) {
    .container {
        max-width: 940px;
        margin: auto;
    }

    header {
        text-align: initial;
    }

    #menu {
        float: right;
        padding: 10px 0px;
    }

    #menu li {
        display: inline-block;
        padding: 0px 10px 10px 10px;
        border-left: 1px dashed #d6d6d6;
    }

    .row::after {
        display: table;
        content: '';
        clear: both;
    }

    .col {
        width: 33.33%;
        float: left;
    }

    #btn {
        width: 160px;
    }

    input {
        width: 296px;
    }

    textarea {
        width: 296px;
    }

    .news img {
        display: inline-block;
        width: 65px;
        height: 65px;
        float: left;
    }

    .text {
        width: 110px;
    }

    #line {
        width: 350px;
    }

    #btn2 {
        width: 160px;
    }

    .leftside p {
        width: 400px;
        height: 10px;
    }

    .leftside p {
        width: 400px;
        height: 10px;
        padding-left: 0px;
    }

    .rightside p {
        float: right;
        width: 400px;
        height: 10px;
        margin-top: -58px;
        padding-left: 0px;
    }

    #above li {
        display: inline-block;

    }

    #bottom li {
        display: inline-block;

    }

    footer {
        height: 183px;

    }

    h3 {
        margin-top: 0px;
    }
}